menu "Example Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.
            
    config RTIO_SERVICE_HOST
        string "RTIO Service HOST"
        default "demo.rtio.mkrainbow.com"
        help
            Set the RTIO HOST to connect to.

    config RTIO_SERVICE_PORT
        int "RTIO Service PORT"
        default 17017
        help
            Set the RTIO PORT to connect to.

    config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 20
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

endmenu
